body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
} 
.darkorange{
color: darkorange;
}
.darkblu{
    color: darkblue;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 50%;
    padding-left: 50%;
 padding-inline-end: 10%;
}